/*****************************************************************************/
/****************************** base settings ********************************/
/*****************************************************************************/
html, body {
    height: 100%;
}

* {
    padding: 0px;
    margin: 0px;
}

.wrap-float {
	overflow : auto;
}

.navigator {
    font-size: 13px;
    font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
    color: #654b24;
}

.navigator a {
    color: #654b24;
    font-weight: bold;
}

.navigator a:hover {
    color: #8C6832;
}

.navigator .ajax_link {
    color: #654b24;
    text-decoration: underline;
}

.navigator .bold_label {
    color: #654b24;
    font-weight: bold;
}

.navigator #global_wrapper {
    position: relative;
    height: auto;
    min-height: 100%;
}

.navigator h1 {
	font-size: 1.2em;
	text-align: center;
	
}

.navigator h2 {
	font-size: 1.1em;
	text-align: left;
	
}

.navigator .pagination {
	list-style: none;
	margin: 10px 0px;
}

.navigator .pagination li {
	display: inline;
	margin-right: 10px;
}

.navigator .hidden {
	display: none;
}

.navigator .errorlist {
	color: #B83400;
}

.navigator .notification {
	color: #429400;
}

.navigator ul.errorlist {
	list-style: none;
}

.navigator table {
	border-collapse: collapse;
	width: 100%;
	margin-top: 10px;
}

.navigator table th {
	text-align: center;
}

.navigator input[type=text], .navigator input[type=password] {
	border: 1px solid #cbc7bd;
	font-size: 1.2em;
	color: #654b24;
}

.navigator .hmargin {
	margin-left: 10px;
	margin-right: 10px;
}


/*****************************************************************************/
/********************************* header ************************************/
/*****************************************************************************/
.navigator #header {
    width: 100%;
    overflow: auto;
}

/*****************************************************************************/
/******************************** content ************************************/
/*****************************************************************************/
.navigator #content {
    margin: 0px auto;
}

/*****************************************************************************/
/********************************* footer ************************************/
/*****************************************************************************/
.navigator #footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 10px;
}

.navigator #copyright {
    color: #6d6d6d;
    font-size: 10px;
}

/*****************************************************************************/
/******************************* typesystem **********************************/
/*****************************************************************************/
.navigator #frametypes_list table td {
	text-align: center;
}

.navigator .slots_list th.title {
	width: 150px;
}

.navigator .slots_list th.type {
	width: 100px;
}

.navigator .slots_list th.mandatory {
	width: 100px;
}

.navigator .slots_list th.delete {
	width: 60px;
}