.navigator #doc-info-panel li {
	overflow-x: hidden;
}

.navigator #doc_content {
	width: 100%;
}

.navigator #extracted_data {
	overflow: auto;
}

.navigator #iframe_container {
	padding: 0;
}

.navigator #slots .list {
	overflow-y: auto;
}

.navigator #frames .list {
	overflow-y: auto;
}

.navigator .edit-action-link {
	padding-left: 5px;
	padding-right: 5px;
	margin-left: 5px;
}

.navigator #presence {
	width: 60px;
}