.navigator #account_menu {
	float: right;
	margin-right: 10px;
	margin-top: 10px;
	
}

.navigator #header {
	height: 40px;
	background: #f8f7f6 url(../img/jqueryui/ui-bg_fine-grain_10_f8f7f6_60x60.png) 50% 50% repeat;
	border-bottom: 1px solid #cbc7bd;	
}

.navigator #content {
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 10px;	
}

.navigator #choose_language {
    float: right;
    margin-right: 10px;
    margin-top: 10px;
}

.navigator #choose_language li.first {
    display: inline;
    border-left-style: none;
}

.navigator #choose_language li {
    display: inline;
    padding-left: 5px;
    border-left: 1px solid #654b24;
}